.notask {
  border: 2px solid #a35709;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 100px 0px;
  @media screen and (max-width:1023px) {
    margin-top: 10px;
    border: none;
    padding: 35px 0px;
  }
  .notask-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-align: center;
    padding: 4px 0px;
    @media screen and (max-width:1023px) {
        font-size: 14px;
        padding: 2px 0px;
        line-height: 20px;
    }

  }
  .brd{
    border: 1.5px solid #FF8303;
    width: 4%;
    margin: auto;
    @media screen and (max-width:1023px) {
        border: 1px solid #FF8303;
        width: 8%;    }

  }
}
