$background-color: #1b1a17;
$text-color: #f0e3ca;
$border-color: #a35709;
$other-border-color: #ff8303;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: $background-color;
  outline: none;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.todo-item p {
  color: #f0e3ca;
  text-decoration: line-through;
}
.TodoList {
  .todo-input {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @media screen and (max-width:1023px) {
        margin-top: 20px;
        width: 100%;
    }
    .disabled{
        pointer-events: none;
        opacity: .8;
    }
    .enabled{
        cursor: pointer;
        opacity: 1;
    }
    .input-filed {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      @media screen and (max-width:1023px) {
        width: 70%;
      }
      .title,
      .discription {
        width: 466px;
        height: 32px;
        border-radius: 4px;
        border: 1px;
        border: 1px solid #ff8303;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        padding: 0px 10px;
        outline: none;
        color: #f0e3caa3;
        @media screen and (max-width:1023px) {
            width: 100%;
        }
      }
    }
  }
  .top-list{
    margin-top: 80px;
    @media screen and (max-width:1023px) {
        margin-top: 20px;
    }

  .List-container {
    margin-top: 8px;
    border: 2px solid #a35709;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    width: 80%;
    border-radius: 8px;
    margin: auto;
    gap: 10px;
    justify-content: left;
    min-height: 300px;
    @media screen and (max-width:1023px) {
        border: none;
        width: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        min-height: auto;
        .top-list-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            .bottom-options{
                padding: 5px 0px;
                display: flex;
                gap: 12px;
                position: relative;
                left: 33%;
            }
        }
    }

    .list-item {
      width: 32%;
      border: 2px solid #a35709;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      height: 72px;
      @media screen and (max-width:1023px) {
        width: 85%;
        height: auto;
        span{
            display: flex;
            justify-content: end;
          
        }
      }

      .content {
        .title,
        .discription {
          font-family: Roboto;
          font-size: 22px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
          opacity: .9;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-clamp: 1;
          width: 174px;
        }
        .discription {
          font-size: 14px !important;
          line-height: 16px !important;
        }
      }
    }
  }
}
.modal-main{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 999999;
  .modal-content{
      border-radius: 0px;
      background: #1B1A17;;
      width: 100%;
      max-width: 281px;
      max-height: 143px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      padding: 20px;
      border-top: 1px solid #A35709;
      @media screen and (max-width:1023px) {
          border-top: 3.5px solid #A35709;
      }
      .modal-text{
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: center;
          color: #FFF;
          justify-content: center;
          align-items: center;
          display: flex;
          justify-content: center;
      }
      .btn-container{
          display: flex;
          flex-direction: row;
          gap: 10px;
          justify-content: center;
          align-items: center;
          display: flex;
          justify-content: center;
          padding-top: 20px;
          button{
              border-radius: 4px;
              border: 1px solid #A35709;
              background: #242320;
              font-family: Roboto;
              font-size: 10px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: center;
              color: #D9D9D9;
              padding: 5px 15px;
          }
      }
  }
}
}
